<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBDcsWQ-rRd86GREQ_2es4HcFzw016g5sU</string>
	<key>GCM_SENDER_ID</key>
	<string>187346416545</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.salamah.app.salamah</string>
	<key>PROJECT_ID</key>
	<string>salama-ad405</string>
	<key>STORAGE_BUCKET</key>
	<string>salama-ad405.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:187346416545:ios:50970c8e2a73069cc691e0</string>
</dict>
</plist>